body {
	/*height: 10vh;*/
  padding-top: 50px;
  /*background-color: #282C34;*/
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 600px) {
	body {
	  padding-top: 20px;
	  background-image: url("./assets/earth2.png");
	  background-size: cover;
	  /*background-position-y: -350px;*/
	  /*background-position-x: -700px;*/
	  /*background-size: ;*/
	}

	#contact {
		margin-left: auto;
	}

	#main-title {
		padding: 20px;
	}

	.search-bar {
		margin-top: -80px;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
	}
/*
	#footer {
		margin-top: 100%;
	}*/
}

#dark-mode-label {
	font-weight: 350;
	margin-right: 10px;
}

#footer {
	margin-top: 100%;
	position: fixed;
	bottom: 0;
	width: 100%;
}


#main-title {
	color: white;
	margin-top: 40px;
}

.search-bar {
	display: block;
	width: 100%;
	margin-top: 30px;
	padding:15px;
	appearance: none;
	background: none;
	outline: none;
	border: none;
	
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 17px 17px;

	transition: 0.4s ease;
}

.search-bar:focus {
	background-color: rgba(255, 255, 255, 0.75);
}

#temp {
	padding-top: 20px;
	font-size: 70px;
	color: white;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

#weather-box {
	background-color: rgba(0, 0, 0, 0.3);
	margin-top: 30px;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;

	border-radius: 25px 25px;
}

#weather {
	margin-top: 0px;
	padding-top: 10px;
	font-size: 25px;
	color: white;
}

#place {
	margin-top: 0px;
	font-size: 20px;
	color: white;
}

.app {
	background-image: url("./assets/cloud.jpg");
	background-position-y: -150px;
	background-size: cover;
	background-repeat: repeat-y;
}
@media (max-width: 600px) {
	.app {
	  /*padding-top: 20px;*/
	  background-image: url("./assets/earth2.png");
	  background-size: cover
	}
}

.app.rain {
	background: rgba(0,0,0,0.2)url("./assets/rain.png");
	background-size: cover;
	background-repeat: repeat-y;
	background-blend-mode: darken;
} @media (max-width: 600px) {
	.app.rain {
		background: url("./assets/rain2.png");
		background-size: cover;
		background-repeat: no-repeat;
	}
}

.app.clouds {
	background: rgba(0,0,0,0.2)url("./assets/cloud.jpg");
	background-size: cover;
	background-repeat: repeat-y;
	background-blend-mode: darken;
} @media (max-width: 600px) {
	.app.clouds {
		background: rgba(0,0,0,0.2)url("./assets/earth2.png");
		background-size: cover;
		background-repeat: no-repeat;
		background-blend-mode: darken;
	}
}

.app.sun {
	background: rgba(0,0,0,0.2)url("./assets/sunny.jpg");
	background-size: cover;
	background-repeat: repeat-y;
	background-blend-mode: darken;
} @media (max-width: 600px) {
	.app.sun {
		background: rgba(0,0,0,0.2)url("./assets/sunny2.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-blend-mode: darken;
	}
}

.app.clear {
	background: rgba(0,0,0,0.2)url("./assets/clear.jpg");
	background-size: cover;
	background-repeat: repeat-y;
	background-blend-mode: darken;
} @media (max-width: 600px) {
	.app.clear {
		background: rgba(0,0,0,0.2)url("./assets/blue2.png");
		background-size: cover;
		background-repeat: no-repeat;
		background-blend-mode: darken;
	}
}

.app.dust {
	background: rgba(0,0,0,0.2)url("./assets/dust.jpg");
	background-size: cover;
	background-repeat: repeat-y;
	background-blend-mode: darken;
} @media (max-width: 600px) {
	.app.dust {
		background: rgba(0,0,0,0.2)url("./assets/dust2.jpeg");
		background-size: cover;
		background-repeat: no-repeat;
		background-blend-mode: darken;
	}
}